$main-color: #FFB300;
$sub-color: #32A13C;
$font-main: #222;
$font-sub: #666;
$font-light: #999;
$bg-color: #fff;
$gray-100: #E1E1E1;
$gray-200: #EDEDED;
$gray-300: #EEE;
$base-padding: 0.5rem 2rem;
$base-shadow: 4 6 8px rgba(0, 0, 0, 0.1);
$card-radius1: 1.5rem;
$card-radius2: 2.5rem;